@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,200&family=Dancing+Script&family=Fira+Sans:wght@200&display=swap");

/* font-family: 'Crimson Pro', serif; */
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Fira Sans', sans-serif; */

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.1, 1.1);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}

.img-slider {
  -webkit-animation: zoom 5s;
  animation: zoom 5s;
}

.carousel-caption {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  transition: transform(-25%);
  line-height: 3rem;
}
.nav-link {
  color: #b6795f !important;
}
.nav-brand {
  color: Black;
  font-size: 2.2rem !important;
  font-weight: 600;
  letter-spacing: 3px;
  font-family: "Crimson Pro", serif;
}
